html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: lightgray;
}


.img-banner{
    width:50vw;
    height: 50vh;
    object-fit: cover;
    object-position: 100% 0;
    left:0;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: blue;
    background-size: 100%, 100%;
}

.carousel-indicators {
    color: blue;
}

.img-logo{
    width:10vw;
}