* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    background-color: #0b0b0b;
    font-family: "Ubuntu", sans-serif;
    color: aliceblue;
    text-align: center;
}

h1, h2, h3 {
    font-family: "Fugaz One", sans-serif;
}

h3{
    text-align: center;
    font-size: 36px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 15px rgb(0, 0, 0);
    margin-bottom: 20px;
    background-image: url(./images/header.jpeg);
    background-size: cover;
    border-radius: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#pizzas h3 {
    background-image: url(./images/pizza-banner.jpeg);
    background-position-y: 20%;
}

#pastas h3 {
    background-image: url(./images/pastas-banner.jpg);
    background-position-y: 20%;
}

#ensaladas h3{
    background-image: url(./images/ensaladas-banner.jpg);
    background-position-y: 40%;
}

#bebidas h3{
    background-image: url(./images/bebidas-banner.jpg);
    background-position-y: 60%;
}

#postres h3{
    background-image: url(./images/postres-banner.jpg);
}

header{
    background-color: #0b0b0b;
    padding: 15px;
}

.nav{
    display: flex;
    justify-content: center;
    gap: 60px;
}
a {
    color: white;
    padding-top: 15px;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/* .img-section{
    width: 100%;
    height: 30vh;
    margin:0;
    padding: 0;
    object-fit: cover;
    object-position: 25% 0%;
} */

.secciones{
    width: 100%;
}

.precios{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.precios-fila{
    display: flex;
    justify-content: space-around;
}

.producto {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 50px;
    width: 30vw;
    border: 1px solid #f78d9e;
    padding: 10px;
    border-radius: 10px;
    background: #101010;
}

.producto-titulo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.producto-precio{
    font-weight: bold;
}

.producto-descripcion{
    font-size: 12px;
    color:#f78d9e;
}

hr{
    margin: 0 60px 0 60px;
}

.formulario{
    background: #101010;
    padding: 20px; 
    border: 2px solid #f78d9e;
    border-radius: 25px;
    margin: 60px;
}
.formulario article{
    font-size: 25px;
    font-weight: 500;
}
.formulario form .form-detalles-usuario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 20px 20px 0;    
}
.formulario form .input-box-genero{
    width: 50%;
}
form .form-detalles-usuario .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
    overflow: hidden;
}
.form-detalles-usuario .input-box label{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: start;
}
.form-detalles-usuario .input-box input{
    height: 30px;
    width: 95%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #f78d9e;
    padding-left: 15px;
    font-size: 16px;
}
form .boton-form {
    height: 45px;
    margin: 15px 0;
}
form .boton-form input{
    height: 100%;
    width: 100%;
    color: white;
    background: #000000;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
}
form .boton-form input:hover{
    color: #f78d9e;
}

textarea {
    resize: none;
    width:97%;
    margin-top: 15px;
    border-radius: 5px;
    border: 2px solid #f78d9e;
}

footer {
    background: #000000;
    /* margin-top: 30px; */
    padding: 2em 0;
    text-align: center;
    width: 100%;
}

footer span {
    color: #ffff;
}
.enlaces {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 15px;
}

