@model App.Models.Clase

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Clase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idClase" />
            <div class="form-group">
                <label asp-for="nombreClase" class="control-label"></label>
                <input asp-for="nombreClase" class="form-control" />
                <span asp-validation-for="nombreClase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="linkVideo" class="control-label"></label>
                <input asp-for="linkVideo" class="form-control" />
                <span asp-validation-for="linkVideo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaClase" class="control-label"></label>
                <input asp-for="fechaClase" class="form-control" />
                <span asp-validation-for="fechaClase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idCurso" class="control-label"></label>
                <select asp-for="idCurso" class="form-control" asp-items="ViewBag.idCurso"></select>
                <span asp-validation-for="idCurso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
